.cache/
.config/termiris/env
cache/
test/
tmp/
__pycache__/
runtime/event-parser.log

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# C Objects & Binaries
*.o
mitl/src/*.o
runtime/events.jsonl
